@model List<Movie>


<div class="text-center">
    <h1 class="display-4">Filmografía de Quentin Tarantino</h1>
    <p>Las películas dirigidas por este excéntrico director</p>
</div>

<ol>
    @foreach (var item in Model)
    {
        <li><a asp-action="Detail" asp-route-id="@item.Code">@item.Name</a></li>
    }
</ol>

<a asp-action="Create">Agregar película</a>